body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

#board {
    background-color: #000;
    border-bottom: 5px solid #87ceeb;
    border-top: 5px solid #87ceeb;
}

.container {
    margin-bottom: 20px;
}

.container h2 {
    text-align: center;
    margin: 0 0 5px 0;
}

.container p { 
    margin: 0;
    text-align: center;
}

canvas {
    display: block;
    margin: 0 auto;
}